@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-image: linear-gradient(to left bottom, #989898, #a8a9a9, #b8babb, #c7cbcc, #d8dddc, #d9e7e1, #def1e2, #e8f9df, #e4fbd1, #e2fdc1, #e2feaf, #e4ff9d);
}

.futer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 100%;
  margin-top: auto;
  bottom: 0;
}

.iconoig, .iconex {
  font-size: 2.3rem;
  color: rgb(181, 35, 203);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: color 3s;
  transition: font-size 1.5s;
}

.iconoig:hover, .iconex:hover {
  font-size: 3rem;
  color: rgb(139, 5, 133);
}

header {
  background-image: url(../assets/img/book-wall-1151405_1920.jpg);
  position: sticky;
  z-index: 200;
  top: 0;
}

.logo {
  width: 8%;
}

.cabezera {
  position: relative;
  background-color: rgba(77, 252, 43, 0.7019607843);
  width: 100%;
  text-decoration-color: #000000;
}

main {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/img/pexels-oziel-gómez-2846814.jpg);
}

.book-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en dispositivos móviles */
  align-items: flex-start; /* Alinea los elementos en la parte superior del contenedor */
  margin-bottom: 20px;
  margin-top: 50px;
}

.image-container {
  flex: 0 0 30%; /* Ocupa todo el ancho disponible en dispositivos móviles */
  margin-bottom: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.description-container {
  flex: 0 0 100%; /* Ocupa todo el ancho disponible en dispositivos móviles */
}

.description-container p {
  font-size: 2rem; /* Reduce el tamaño de fuente para dispositivos móviles */
  line-height: 1.3; /* Ajusta el espaciado entre líneas para una mejor legibilidad */
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgba(253, 174, 47, 0.473);
}

.titulo23 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 3.5rem;
  margin-top: 20px;
  background-color: rgba(153, 52, 247, 0.623);
}

.book-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container2 {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-container2 img {
  width: 100%;
  height: auto;
}

.tituloautores {
  color: rgb(255, 216, 149);
  font-weight: bold;
  background-color: rgba(252, 71, 110, 0.688);
}

.textoautores {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgba(255, 208, 106, 0.589);
}

.autoresreconocidos {
  color: rgb(250, 213, 145);
  font-weight: bold;
  background-color: rgba(245, 116, 137, 0.751);
}

@media screen and (max-width: 768px) {
  .image-container {
    flex-wrap: wrap;
  }
  .image-container img {
    width: 40%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .image-container {
    flex: 0 0 100%;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .description-container p {
    font-size: 1.3rem;
  }
}
body {
  font-family: "Titillium Web", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.listaitem1 {
  display: inline-block;
  list-style: none;
  margin: 2px;
  padding-left: 15px;
}

.listaitem2 {
  display: flex;
  justify-content: left;
  color: #15ff00;
}

.mainlibros {
  background-image: linear-gradient(to right, #ffcee0, #ffc6d8, #ffc0d0, #ffb9c8, #ffb3c0, #ffacba, #ffa6b3, #ffa0ab, #ff99a3, #ff939b, #ff8c93, #ff869b);
  display: flex;
  flex-wrap: wrap;
  display: block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  color: #020101;
  text-decoration: none;
  font-weight: bold;
  min-width: 120px;
}

.linknavegacion2 {
  color: rgb(255, 255, 255);
}

.titulolibros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: linear-gradient(to right, #ffcee0, #ffc6d8, #ffc0d0, #ffb9c8, #ffb3c0, #ffacba, #ffa6b3, #ffa0ab, #ff99a3, #ff939b, #ff8c93, #ff869b);
}

.Titulo1 {
  font-size: 3rem;
  color: rgb(2, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.listadelibros {
  color: rgb(0, 0, 0);
  text-align: center;
}

.iconex {
  color: #0ea700;
}

.iconex:hover {
  color: #0ea700;
  font-size: 2.5rem;
}

.Listalibrosexcel {
  background-image: linear-gradient(to right, #ffcee0, #ffc6d8, #ffc0d0, #ffb9c8, #ffb3c0, #ffacba, #ffa6b3, #ffa0ab, #ff99a3, #ff939b, #ff8c93, #ff869b);
}

.listadelibros {
  text-decoration: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

main {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.nosotros-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: url(../assets/img/pexels-andrea-piacquadio-3779432.jpg);
}
.nosotros-container .nosotros-container {
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden; /* Agrega un overflow oculto para evitar el desbordamiento */
}
.nosotros-container .contenidonosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Agrega centrado vertical */
  text-align: center; /* Agrega centrado horizontal para el texto */
  max-width: 900px;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.nosotros-container .imagennosotros {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 20px;
}
.nosotros-container .textonosotros {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  max-width: 100%;
  padding: 0 20px;
  word-break: break-word;
  color: rgb(14, 14, 14);
  font-weight: bold;
  background-color: rgba(253, 155, 216, 0.653);
}

@media screen and (max-height: 600px) {
  .contenidonosotros {
    align-items: flex-start; /* Alinear elementos en la parte superior en dispositivos más pequeños */
    justify-content: flex-start; /* Alinear elementos en la parte superior en dispositivos más pequeños */
    padding-bottom: 20px; /* Añadir un espacio adicional en la parte inferior para evitar el desbordamiento */
  }
}
.maineditoriales {
  display: flex;
  flex-wrap: wrap;
}

.editorialescard {
  flex: 0 0 10%; /* Ajusta el tamaño de las imágenes según tus necesidades */
  margin: 10px; /* Ajusta el margen entre las imágenes según tus necesidades */
  width: 310px; /* Establece la anchura deseada para las imágenes */
  height: 300px; /* Establece la altura deseada para las imágenes */
  object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
  background-color: rgba(255, 255, 255, 0.459);
}

.editorialescard1 {
  flex: 0 0 10%; /* Ajusta el tamaño de las imágenes según tus necesidades */
  margin: 10px; /* Ajusta el margen entre las imágenes según tus necesidades */
  width: 300px; /* Establece la anchura deseada para las imágenes */
  height: 150px; /* Establece la altura deseada para las imágenes */
  object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
}

.editorialescard2 {
  flex: 0 0 10%; /* Ajusta el tamaño de las imágenes según tus necesidades */
  margin: 10px; /* Ajusta el margen entre las imágenes según tus necesidades */
  width: 300px; /* Establece la anchura deseada para las imágenes */
  height: 150px; /* Establece la altura deseada para las imágenes */
  object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
}

.titulo-editoriales {
  text-align: center;
  color: rgba(0, 0, 0, 0.6078431373);
  font-size: 28px;
  margin-bottom: 20px;
  background-color: rgba(244, 134, 134, 0.51);
  font-weight: bold;
}

.texto-editoriales {
  text-align: center;
  font-size: 18px;
  color: rgb(250, 213, 145);
  line-height: 1.5;
  margin-bottom: 40px;
  background-color: rgba(245, 116, 137, 0.751);
  font-weight: bold;
}

.maincontacto {
  background-image: linear-gradient(to right, #ffcee0, #ffc6d8, #ffc0d0, #ffb9c8, #ffb3c0, #ffacba, #ffa6b3, #ffa0ab, #ff99a3, #ff939b, #ff8c93, #ff869b);
}

.error-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../assets/img/books-1163695_1920.jpg);
  background-size: cover;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-left: 20px;
  max-width: 500px;
}

.error-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.error-message {
  font-size: 18px;
  text-align: center;
  margin: 0;
}

/*# sourceMappingURL=estilos.css.map */
