.maineditoriales {
    display: flex;
    flex-wrap: wrap;
  }
  
  .editorialescard {
    flex:0 0 10%; /* Ajusta el tamaño de las imágenes según tus necesidades */
    margin: 10px; /* Ajusta el margen entre las imágenes según tus necesidades */
    width: 310px; /* Establece la anchura deseada para las imágenes */
    height: 300px; /* Establece la altura deseada para las imágenes */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
    background-color: rgba(255, 255, 255, 0.459);
  }
  .editorialescard1 {
    flex:0 0 10%; /* Ajusta el tamaño de las imágenes según tus necesidades */
    margin: 10px; /* Ajusta el margen entre las imágenes según tus necesidades */
    width: 300px; /* Establece la anchura deseada para las imágenes */
    height: 150px; /* Establece la altura deseada para las imágenes */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
   }

    .editorialescard2 {
        flex:0 0 10%; /* Ajusta el tamaño de las imágenes según tus necesidades */
        margin: 10px; /* Ajusta el margen entre las imágenes según tus necesidades */
        width: 300px; /* Establece la anchura deseada para las imágenes */
        height: 150px; /* Establece la altura deseada para las imágenes */
        object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
        }

        .titulo-editoriales {
            text-align: center;
            color: #0000009b;
            font-size: 28px;
            margin-bottom: 20px;
        background-color: rgba(244, 134, 134, 0.51);  
        font-weight: bold;}
        
          .texto-editoriales {
            text-align: center;
            font-size: 18px;
            color: rgb(250, 213, 145);
            line-height: 1.5;
            margin-bottom: 40px;
            background-color: rgba(245, 116, 137, 0.751);
          font-weight: bold;}