.listaitem1{display: inline-block; list-style: none; margin: 2px ; padding-left: 15px;}
  
    .listaitem2{display: flex;
justify-content: left;
color: #15ff00;
}


.mainlibros{ background-image: linear-gradient(to right, #ffcee0, #ffc6d8, #ffc0d0, #ffb9c8, #ffb3c0, #ffacba, #ffa6b3, #ffa0ab, #ff99a3, #ff939b, #ff8c93, #ff869b);

         
    display: flex;
    flex-wrap: wrap;
    display: block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    color: #020101;
    text-decoration: none;
    font-weight: bold;
    min-width: 120px;}
    
    .linknavegacion2 {color: rgb(255, 255, 255);}
    .titulolibros { 
      
        @include flexbox (center,center,row); 
        
        background-image: linear-gradient(to right, #ffcee0, #ffc6d8, #ffc0d0, #ffb9c8, #ffb3c0, #ffacba, #ffa6b3, #ffa0ab, #ff99a3, #ff939b, #ff8c93, #ff869b);
  }
    
       .Titulo1 {font-size: 3rem;color: rgb(2, 0, 0);display: flex;
        justify-content: center;
        align-items:center; }


    
    

          
.listadelibros{color: $Colortexto; text-align: center;}
.iconex{@extend .iconoig
    ; color:#0ea700
}
.iconex:hover{color: #0ea700; font-size: 2.5rem;}
.Listalibrosexcel { background-image: linear-gradient(to right, #ffcee0, #ffc6d8, #ffc0d0, #ffb9c8, #ffb3c0, #ffacba, #ffa6b3, #ffa0ab, #ff99a3, #ff939b, #ff8c93, #ff869b);
}  
  
  .listadelibros{text-decoration: $Colortexto; color: $Colortexto;}