main{ background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
background-size: cover;
;}
.nosotros-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: url(../assets/img/pexels-andrea-piacquadio-3779432.jpg);
  
  .nosotros-container {
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden; /* Agrega un overflow oculto para evitar el desbordamiento */
  }
  
  .contenidonosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Agrega centrado vertical */
    text-align: center; /* Agrega centrado horizontal para el texto */
    max-width: 900px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  
  .imagennosotros {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 20px;
  }
  
  .textonosotros {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    max-width: 100%;
    padding: 0 20px;
    word-break: break-word;
    color: rgb(14, 14, 14);
    font-weight: bold;
    background-color: rgba(253, 155, 216, 0.653);
  }
}
@media screen and (max-height: 600px) {
  .contenidonosotros {
    align-items: flex-start; /* Alinear elementos en la parte superior en dispositivos más pequeños */
    justify-content: flex-start; /* Alinear elementos en la parte superior en dispositivos más pequeños */
    padding-bottom: 20px; /* Añadir un espacio adicional en la parte inferior para evitar el desbordamiento */
  }
}
